.clock-wrapper {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 5px;
  background-image: -webkit-linear-gradient(#f7f7f7, #e0e0e0);
  background-image: linear-gradient(#f7f7f7, #e0e0e0);
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.2);
}

.clock-base {
  width: 250px;
  height: 250px;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0 0 5px #eee;
}

.click-indicator {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
  width: 230px;
  height: 230px;
}

.click-indicator div {
  position: absolute;
  width: 2px;
  height: 4px;
  margin: 113px 114px;
  background-color: #ddd;
}

.click-indicator div:nth-child(1) {
  -webkit-transform: rotate(30deg) translateY(-113px);
      -ms-transform: rotate(30deg) translateY(-113px);
          transform: rotate(30deg) translateY(-113px);
}

.click-indicator div:nth-child(2) {
  -webkit-transform: rotate(60deg) translateY(-113px);
      -ms-transform: rotate(60deg) translateY(-113px);
          transform: rotate(60deg) translateY(-113px);
}

.click-indicator div:nth-child(3) {
  -webkit-transform: rotate(90deg) translateY(-113px);
      -ms-transform: rotate(90deg) translateY(-113px);
          transform: rotate(90deg) translateY(-113px);
  background-color: #aaa;
}

.click-indicator div:nth-child(4) {
  -webkit-transform: rotate(120deg) translateY(-113px);
      -ms-transform: rotate(120deg) translateY(-113px);
          transform: rotate(120deg) translateY(-113px);
}

.click-indicator div:nth-child(5) {
  -webkit-transform: rotate(150deg) translateY(-113px);
      -ms-transform: rotate(150deg) translateY(-113px);
          transform: rotate(150deg) translateY(-113px);
}

.click-indicator div:nth-child(6) {
  -webkit-transform: rotate(180deg) translateY(-113px);
      -ms-transform: rotate(180deg) translateY(-113px);
          transform: rotate(180deg) translateY(-113px);
  background-color: #aaa;
}

.click-indicator div:nth-child(7) {
  -webkit-transform: rotate(210deg) translateY(-113px);
      -ms-transform: rotate(210deg) translateY(-113px);
          transform: rotate(210deg) translateY(-113px);
}

.click-indicator div:nth-child(8) {
  -webkit-transform: rotate(240deg) translateY(-113px);
      -ms-transform: rotate(240deg) translateY(-113px);
          transform: rotate(240deg) translateY(-113px);
}

.click-indicator div:nth-child(9) {
  -webkit-transform: rotate(270deg) translateY(-113px);
      -ms-transform: rotate(270deg) translateY(-113px);
          transform: rotate(270deg) translateY(-113px);
  background-color: #aaa;
}

.click-indicator div:nth-child(10) {
  -webkit-transform: rotate(300deg) translateY(-113px);
      -ms-transform: rotate(300deg) translateY(-113px);
          transform: rotate(300deg) translateY(-113px);
}

.click-indicator div:nth-child(11) {
  -webkit-transform: rotate(330deg) translateY(-113px);
      -ms-transform: rotate(330deg) translateY(-113px);
          transform: rotate(330deg) translateY(-113px);
}

.click-indicator div:nth-child(12) {
  -webkit-transform: rotate(360deg) translateY(-113px);
      -ms-transform: rotate(360deg) translateY(-113px);
          transform: rotate(360deg) translateY(-113px);
  background-color: #c00;
}

.clock-hour {
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 128px;
  width: 4px;
  height: 65px;
  background-color: #555;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 2px 50px;
      -ms-transform-origin: 2px 50px;
          transform-origin: 2px 50px;
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-animation: rotate-hour 43200s linear infinite;
}

.clock-minute {
  position: absolute;
  z-index: 3;
  top: 60px;
  left: 128px;
  width: 4px;
  height: 85px;
  background-color: #555;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 2px 70px;
      -ms-transform-origin: 2px 70px;
          transform-origin: 2px 70px;
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-animation: rotate-minute 3600s linear infinite;
}

.clock-second {
  position: absolute;
  z-index: 4;
  top: 20px;
  left: 129px;
  width: 2px;
  height: 130px;
  background-color: #a00;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 1px 110px;
      -ms-transform-origin: 1px 110px;
          transform-origin: 1px 110px;
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-animation: rotate-second 60s linear infinite;
}

.clock-second:after {
  content: "";
  display: block;
  position: absolute;
  left: -5px;
  bottom: 14px;
  width: 8px;
  height: 8px;
  background-color: #a00;
  border: solid 2px #a00;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.clock-center {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  top: 55px;
  left: 55px;
  background-image: -webkit-linear-gradient(#e3e3e3, #f7f7f7);
  background-image: linear-gradient(#e3e3e3, #f7f7f7);
  border-radius: 50%;
  box-shadow: inset 0 -1px 0 #fafafa, inset 0 1px 0 #e3e3e3;
}

.clock-center:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 65px;
  background-color: #ddd;
  border-radius: 50%;
}

header {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 24px;
  color: #666;
}

header #poetry {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 24px;
}

.input {
  display: block;
  margin: 300px auto 0;
  width: 300px;
}

.input input {
  width: 200px;
  height: 40px;
  line-height: 25px;
  padding: 0 5px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  font-size: 15px;
}

.input input:focus {
  outline: none;
  border: 1px solid #ddd;
}

.input a {
  padding: 14px 10px;
  background: #1EE216;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
  text-decoration: none;
}

main {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.live-result h4, .die-result h4 {
  font-size: 1.8rem;
  margin: 15px 0;
  text-align: center;
}
.live-result > div, .die-result > div {
  display: inline-block;
  width: 24%;
  text-align: center;
  height: 175px;
  line-height: 175px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
}
.live-result .year, .die-result .year {
  background: #FF008E;
}
.live-result .month, .die-result .month {
  background: rgba(32, 110, 222, 0.93);
}
.live-result .day, .die-result .day {
  background: #2ED62E;
}
.live-result .hour, .die-result .hour {
  background: #D6586E;
}
.live-result .die, .live-result .live, .die-result .die, .die-result .live {
  display: block;
  margin: 20px auto 0;
  background-color: #3c5555;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.live-result .die a, .live-result .live a, .die-result .die a, .die-result .live a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.live-result .ml, .die-result .ml {
  background: #2EE873;
}
.live-result .weekend, .die-result .weekend {
  background: #c00;
}
.live-result .holiday, .die-result .holiday {
  background: #CC7BE8;
}
.live-result .eat, .die-result .eat {
  background: #35ccc4;
}
.live-result .live, .die-result .live {
  background: green;
}

footer.container {
  margin-top: 20px;
  text-align: center;
}
footer.container span {
  text-align: center;
}
